<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<style>
    input[type=text]{
        background-color: lemonchiffon;
    }
</style>
<p><a href="/">Back to main page</a></p>
<div class="header">
    <h1>Remove a restaurant from the app</h1>
</div>
<p>
<div class="content">
<form action="/deleterestaurant" method="post">
    Name of the restaurant to be deleted:
    <p>
    <input type="text" name="name">
    <p>
    <input type="submit" value="Delete restaurant">
</form>
</div>
</body>