<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<style>
    input[type=text]{
        background-color: lemonchiffon;
    }
</style>
<div class="content">
<form action="/register" method="post">
Name: <input type="text" name="username">
<p>
Password: <input type="password" name="password1">
<p>
Rewrite password: <input type="password" name="password2">
<p>
<input type="radio" name="user" value="0"> User
<input type="radio" name="user" value="1"> Admin
<p>
<input type="submit" value="Create user">
</form>
</div>
</body>